# Credentials
tigerbook_credentials.py

# Image cache
images/

# Python cache
__pycache__

# Temporary sandbox Jupyter notebook
Sandbox.ipynb

# Jupyter notebook cache
.ipynb_checkpoints

# Visual Studio metadata
.vscode

# macOS metadata
.DS_Store